<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <!--<link rel="stylesheet" href="/css/mobile.css">-->

  </head>
  <body>
    <div id="header">
      <ul class="nav">
	{% if page.section == "about" %}
	<li class="active">
	{% else %}
	<li>{% endif %}<a href="/">About</a></li>
	{% if page.section == "projects" %}
	<li class="active">
	{% else %}
	<li>{% endif %}<a href="/projects/">Projects</a></li>
      </ul>
      <h1 class="title">
	<small>I'm</small>
	<a href="/">{{ site.name }},</a>
	<small>{% if page.section == "projects" %}check out these things I did!{% else %}motherfuckers!{% endif %}</small>
      </h1>
    </div>
    
    <div id="main">
      {{ content }}
    </div>
    
    <div id="footer">
      <a class="email" href="mailto:abe@abelevitan.com">abe@abelevitan.com</a>
      <a class="ref" href="http://www.linkedin.com/in/allevitan">LinkedIn</a>
      <a class="ref" href="http://github.com/allevitan">GitHub</a>
      <a class="ref" href="http://grabcad.com/abraham.levitan-1/">GrabCAD</a>
    </div>
    
  </body>
  
  <script language="javascript" type="text/javascript" src="/js/main.js"></script>
  
</html>
